.homePage{
    height:100vh;
    margin-left:150px;
    margin-right:150px;
}
.headerSection{
    padding-top:20px;
}
.gymNameSection{
    font-size:20px;
    font-weight:bold;
    margin-right:300px;
}
.navBarOptions{
    font-weight:bold;
    font-size:14px;
    margin-right:15px;
    cursor: pointer;
}
.navBarLastOptions{
    font-weight:bold;
    font-size:14px;
    cursor: pointer;
}
.logoName{
    color:rgba(16, 98, 222, 0.792);
}
.bodySection{
    display:flex;
    margin-top:80px;
}
.bodySectionDescription{
    height:350px;
    width:100%;
}
.bodySectionAnimation{
    width:100%;
}
.homePagetagline{
    font-size:45px;
    font-weight:bold;
    text-align:left;
    margin-bottom:15px;
}
.homePagetaglineDescription{
    font-size:15px;
    margin-bottom:25px;
    font-weight:bold;
    text-align:left;
    line-height: 22px;
}
.startNowBtn{
    cursor: pointer;
    border:none;
    font-weight:bold;
    font-size:14px;
    color:white;
    background-color:rgba(16, 98, 222, 0.792);
    height:45px;
    width:120px;
    border-radius:10px;
    padding:5px;
    margin-right:15px;
}
.youtubeIcon{
    font-size:30px;
    color:orange;
    margin-left:15px;
    margin-right:5px;
    vertical-align: middle;
    cursor: pointer;
}
.youtubeBtn{
    font-size:13px;
    font-weight:bold;
    margin-left:10px;
    vertical-align: middle;
}
.homePageServices{
    display:flex;
    flex-direction:row;
    margin-left:150px;
    margin-right:150px;
    justify-content:space-between;
    gap:20px;
}
.services{
    flex:1;
    height:135px;
    border-radius:15px;
    border:1px solid rgb(217, 216, 216);
    padding:15px;
}
.serviceIcon{
    box-shadow: 1px 1px 5px rgba(126, 126, 126, 0.5);
    width:31px;
    text-align:center;
    padding:5px;
    margin-left:100px;
}
.weighingScaleIcon{
    vertical-align:middle;
    font-size:30px;
    color:rgba(16, 98, 222, 0.792);
}
.weightsIcon{
    vertical-align:middle;
    font-size:30px;
    color:rgba(16, 98, 222, 0.792);
}
.equipmentIcon{
    vertical-align:middle;
    font-size:30px;
    color:rgba(16, 98, 222, 0.792);
}
.serviceType{
    font-size:15px;
    font-weight:bold;
    margin-top:10px;
    text-align:center;
}
.serviceDescription{
    font-size:12px;
    font-weight:500;
    margin-top:10px;
    text-align:center;
    color:rgb(96, 96, 96);
}