.slideshowSection{
    width:100%;
    height:50vh;
    margin-top:50px;
}
.slideshowCarouselCard{
    height:300px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.slideshowImage{
    overflow:hidden;
    object-fit:cover;
    height:100%;
    width:100%;
    margin:10px;
}