html, body, #root{
  height:100%;
  margin:0;
}
.appContainer{
  display:flex;
  flex-direction:column;
  min-height:100vh;
  padding-bottom:1px;
  overflow-y:auto;
  background-color:#130F09;
  color:white;

}